.newsBanner{
  width: 100%;
  height: 336px;
  overflow: hidden;
  position: relative;
}
.newsBanner ul{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.midbox .newsBanner ul li{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  /*display: none;*/
  opacity: 0;
  transition: all 1.5s;
}
.midbox .newsBanner ul li.active{
  /*display: block;*/
  opacity: 1;
}
/*.midbox .newsBanner ul li img{
  transition: all 1.5s;
}*/
.newsBanner li .word-container{
  width: 70%;
  padding: 10px;
  background: rgba(0,0,0,.6);
  position: absolute;
  bottom: 50px;
  left: 0;
  color: #ccc;
}
.newsBanner li .word-container p{
  color: #fff;
  margin-top: 0;
}
.newsBanner .pageBtn{
  position: absolute;
  bottom: 3px;
  right: 0px;
}
.newsBanner .pageBtn button{
  padding: 3px 6px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  transition: all 1s;
}
.newsBanner .pageBtn button.active{
  background: #fff;
  color: #000;
  
}